*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #FFF7ED;
}

.title {
    background-color: #FDE68A;
    text-align: center;
    padding: 54px;
    color:#1c130c;
}

.title h1{
    color:#78350F;
    margin-bottom: 20px;
    font-weight: bold;
}
.link {
    background-color: #FED7AA;
    text-align: center;
    color:#78350F;
}
.btn {
    display:inline-block;
    text-decoration: none;
    color:#78350F;
    margin:5px;
    font-weight: bold;
    transition: 0.4s;
    padding:10px;
}

.btn:hover{
    transform: translateY(-2px);
    border-radius: 12px;
    color:white;
    background-color: #C2410C;
    margin:0 10px;
}

.hero-image {
    position: relative;
    margin: 0px 0px;
    height: 400px;
    border: 1px solid rgb(249, 242, 242);
    object-fit: cover;
}
.hero-text {
    position: absolute;
    bottom: 25px;
    left: 25px;
    width: 400px;
    background-color: #f1f5f9;;
    padding: 20px;
    border-radius: 15px;
    color: #5e3003;
}
.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.add h2 {
    font-size: 24px;
    font-weight: bold;
}

.we h2{
    margin-top: 60px;
}

.we{
    color:#92400E;
    text-align: center;
}

.we p {
    margin:22px 42px;
}

.vision{
    margin-top: 100px;
    text-align: center;
    color:#92400E;
}

.vision h2{
    margin-bottom: 25px;
}

.vision p{
    margin:20px 0;
}

.value{
    text-align: center;
    color:#92400E;
}

.value h2{
    margin:120px 0 40px 0;
}

.footer {
    background-color: #78350F;
    text-align: center;
    color:white;
    margin-top: 67px;
    padding:25px 0;
}